:root {
  --markdown-text: inherit;
  --markdown-title: inherit;
  --markdown-title-font: inherit;
  --markdown-font: inherit;
  --markdown-font-size: inherit;
  --markdown-line-height: 1.5;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.markdown-body {
  color: var(--markdown-text);
  font-family: var(--markdown-font);
  line-height: var(--markdown-line-height);
  position: relative;
  text-size-adjust: 100%;
  word-wrap: break-word;
}
.markdown-body::before,
.markdown-body::after {
  content: "";
  display: table;
}
.markdown-body::after {
  clear: both;
}
.markdown-body ul {
  list-style: initial;
}
.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}
.markdown-body .anchor:focus {
  outline: 0;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}
.markdown-body details {
  display: block;
}
.markdown-body summary {
  display: list-item;
}
.markdown-body a {
  transition: 0.15s ease;
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}
.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.markdown-body hr {
  background: transparent;
  border-bottom: 1px solid var(--markdown-edge, #dfe2e5);
  border-width: 0 0 1px;
  box-sizing: content-box;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}
.markdown-body hr::before,
.markdown-body hr::after {
  content: "";
  display: table;
}
.markdown-body hr::after {
  clear: both;
}
.markdown-body input {
  font: inherit;
  margin: 0;
}
.markdown-body input {
  overflow: visible;
}
.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.markdown-body * {
  box-sizing: border-box;
}
.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.markdown-body strong {
  font-weight: 600;
}
.markdown-body details summary {
  cursor: pointer;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--markdown-title);
  font-family: var(--markdown-title-font);
  font-size: var(--markdown-title-size);
  font-weight: var(--markdown-title-weight, 600);
  line-height: 1.25;
  margin-bottom: var(--markdown-title-marginBottom, 1rem);
  margin-top: var(--markdown-title-marginTop, 1em);
}
.markdown-body h1 {
  font-size: 1.75em;
  font-size: var(--markdown-title-size, 1.75em);
}
.markdown-body h2 {
  font-size: 1.5em;
  font-size: var(--markdown-title-size, 1.5em);
}
.markdown-body h1 {
  font-weight: 700;
  font-weight: var(--markdown-title-weight, 700);
}
.markdown-body h2 {
  font-weight: 600;
  font-weight: var(--markdown-title-weight, 600);
}
.markdown-body h3,
.markdown-body h4 {
  font-weight: 600;
  font-weight: var(--markdown-title-weight, 600);
}
.markdown-body h3 {
  font-size: 1.25em;
  font-size: var(--markdown-title-size, 1.25em);
}
.markdown-body h4 {
  font-size: 1em;
  font-size: var(--markdown-title-size, 1em);
}
.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
  font-weight: var(--markdown-title-weight, 600);
}
.markdown-body h5 {
  font-size: 0.875em;
  font-size: var(--markdown-title-size, 0.875em);
}
.markdown-body h6 {
  color: var(--markdown-title, #6a737d);
  font-size: 0.85em;
  font-size: var(--markdown-title-size, 0.85em);
}
.markdown-body p,
.markdown-body .p {
  margin-bottom: 10px;
  margin-top: 0;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body ol,
.markdown-body ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  appearance: none;
  appearance: none;
  margin: 0;
}
.markdown-body > :first-child {
  margin-top: 0 !important;
}
.markdown-body > :last-child {
  margin-bottom: 0 !important;
}
.markdown-body blockquote,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-bottom: 15px;
  margin-top: 0;
}
.markdown-body blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  display: block;
  padding: 0 1em;
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.markdown-body li {
  clear: both;
  word-wrap: break-all;
}
.markdown-body li > p {
  margin-top: 1em;
}
.markdown-body li + li {
  margin-top: 0.25em;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 1em;
  padding: 0;
}
.markdown-body dl dd {
  margin-bottom: 1em;
  padding: 0 1em;
}
.markdown-body :checked + .radio-label {
  border-color: var(--project-color-primary);
  position: relative;
  z-index: 1;
}
.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.markdown-body p.blank-line {
  height: 1.5em;
}
.markdown-body h5,
.markdown-body h6 {
  font-size: 0.9em;
}
.markdown-body blockquote h1:last-child,
.markdown-body blockquote h2:last-child {
  border-bottom: 0;
}
.markdown-body > * {
  margin-bottom: 15px !important;
  margin-top: 15px;
}
.markdown-body .task-list-item input {
  margin: 0 0.5em 0.25em -1.25em;
}
.markdown-body a[href],
.markdown-body a:not([href=""]) {
  text-decoration: underline;
}
